server:
  port: 8081

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

management:
  endpoints:
    web:
     exposure:
      include: "*"
  metrics:
    export:
      cloudwatch:
        enabled: true
        namespace: OrderServiceApp
        step: 60s