server:
  port: 8080

logging:
  config: classpath:logback-spring.xml

# ===============================
# Database Configuration (PostgreSQL)
# ===============================
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

aws:
  s3:
    region: us-east-1
    bucket-name: taher-demo-s3-v5
